#home-header {
    /* background: #00000063; */
    height: 75px;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    left: 0px;
    z-index: 9999;
}

.logo-batoota {
    width: 150px;
}

.toggler-icon-res {
    display: none;
}

/* li.nav-item.mr-4.active a {
    border-bottom: 3px solid #f39c12;
} */

.mob-hidden {
    display: block;
}

.serach--bar {
    background: #ccc;
    padding: 6px 10px;
    border-radius: 50%;
    color: #eee;
}

.mobo-show {
    display: none;
}

#main-section {
    position: relative;
    background: url(./luca-zanon-X0OoHrPvgXE-unsplash.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    height: 100%;
    width: 100%;
    margin-bottom: 125px;
    background-size: cover;
}
#myimg {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 550px;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.main-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000003d;
    opacity: 0.2;
}

.nav-txt-white {
    color: #fff;
}

.user--name {
    color: #fff;
}

.custom--nav {
    width: 68%;
    justify-content: flex-end;
}

.custom--side {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.search-container {
    position: absolute;
    bottom: 90px;
    z-index: 1;
    left: 0px;
    padding: 3px 30px;
}

.btn--explore {
    padding: 9px 40px;
    color: #fff;
    background-color: #204a849e;
    font-weight: 500;
}
.btn--explore:hover {
    background-color: #ccc;
    border-color: #000;
    color: #0009;
    font-weight: 600;
}

.card-img-wrap {
    height: 350px;
}
.circle--font {
    font-size: 9px !important;
}

.img-wrap {
    width: 100%;
    height: 100%;
}

.icon-white {
    color: #fff;
}

.custom-center-col {
    margin-top: 112px;
    padding: 8px 38px;
}

.custom--container {
    position: absolute;
    bottom: 90px;
    z-index: 1;
    left: 0px;
    padding: 3px 30px;
}

.custom-card--animate {
    animation: 1s  fadeInUp linear;
}
@keyframes fadeInUp{

    from{
        top:50px;
        opacity: 0px;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

/* Hero slider style
==========================*/
*/ .hero-slider {
    position: relative;
}

.single-hs-item {
    height: 700px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.single-hs-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000000ab;
    opacity: .3;
  

}



/* .item-bg1 {
    background-image: url(./luca-zanon-X0OoHrPvgXE-unsplash.jpg);
}


.item-bg2 {
    background-image: url(./philippe-toupet-R261qkc-nDE-unsplash.jpg);
}

.item-bg3 {
    background-image: url(./daniel-roe-lpjb_UMOyx8-unsplash.jpg);
} */






/* .hero-slider .owl-item.active .btn--explore {
    -webkit-animation: 1s .3s fadeInDown both;
    animation: 1s .3s fadeInDown both;
} */

.owl-carousel .owl-nav button.owl-prev {
    background-color: #ccc !important;
    position: absolute;
    left: 0;
    top: 58%;
    color: #000 !important;
    font-size: 30px !important;
    margin: -40px 0 0;
    border-radius: 0;
    height: 44px;
    width: 30px;
}

.owl-carousel .owl-nav button.owl-next {
    background-color: #ccc !important;
    position: absolute;
    right: 0;
    top: 58%;
    color: #000 !important;
    font-size: 30px !important;
    margin: -40px 0 0;
    border-radius: 0;
    height: 44px;
    width: 30px;
}

/* .owl-theme .owl-nav {
    margin-top: 0;
}

.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 11px;
    height: 20px;
} */




/* .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff3547;
} */

/* @media only screen and (max-width: 600px) {
  

    .owl-carousel .owl-nav button.owl-next {
        top: auto;
        margin: 0;
        bottom: 0px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        top: auto;
        margin: 0;
        bottom: 0px;
    }

    .owl-dots {
        bottom: 10px;
        left: 50px;
        right: 50px;
    }
} */



/* new slider */



/* Carousel */

.owl-carousel .carousel-item {
    background: #fff;
    border: 1px solid #D9D7DA;
    text-align: center;
  }
  
  .owl-carousel .carousel-item-text {
    padding: 12px;
  }
  
  .owl-carousel .carousel-item .item-kicker {
    color: #9A5053;
    display: block;
    font-size: .8em;
    font-weight: 600;
    height: 30px;
    margin-bottom: 16px;
    overflow: hidden;
    text-transform: uppercase;
  }
  
  .owl-carousel .carousel-item .item-title {
    color: #646464;
    font-size: 1em;
    font-weight: 600;
    height: 38px;
    margin: 0;
    overflow: hidden;
  }
  
  /* .owl--custom .owl-dots {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .owl--custom .owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127, 127, 127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .owl--custom .owl-dot.active {
    background: rgba(127, 127, 127, 1);
  }
   */
  

  /* custom  */
  .caro-img--wrap {
      width: 250px;
      height: 350px;
  }

  .caro--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  /* .owl--custom .owl-nav.disabled+.owl-dots {
    bottom: 0px !important;
  } */

  .owl--custom {
    height: 400px;
  }

  .owl--custom .owl-stage-outer {
      height: 450px;
  }

  .location--map {
    position: absolute;
    right: 0;
    z-index: 99;
    font-size: 17px;
    border-radius: 50%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.location--map-icon {
    color: #ccc;
}

.contain--border::after {
    content: '';
    border-left: 2px solid #7a7a7a63;

    height: 100%;
    position: absolute;
    left: 0x;
    top: 0;
    z-index: -1;
}

/* .border-it--num-1::before {
    content: "1";
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 20px;
    top: 42px;
    animation: 1s fadeInUp linear;
} */

.contain--icon {
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 20px;
    top: 42px;
    animation: 1s fadeInUp linear;
}

.contain--icon-2 {
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 2px;
    top: 33px;
    animation: 1s fadeInUp linear; 
}

.contain--icon-3 {
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 2px;
    animation: 1s fadeInUp linear;
}

.contain--icon-4 {
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 2px;
    bottom: 6px;
    animation: 1s fadeInUp linear;
}


/* .border-it--num-2::before {
    content: "2";
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 2px;
    top: 33px;
    animation: 1s fadeInUp linear;
} */

/* .border-it--num-3::before {
    content: "3";
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 2px;
    animation: 1s fadeInUp linear;
} */
/* .border-it--num-4::before {
    content: "4";
    color: #fff;
    border: 1px solid #eee9;
    padding: 0px 8px;
    border-radius: 50%;
    background: #eee9;
    position: absolute;
    left: 2px;
    bottom: 18px;
    animation: 1s fadeInUp linear;
} */


@media (max-width: 768px) {
    .caro-img--wrap {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .single-hs-item {
        height: 850px;
    }
    .caro-img--wrap {
        margin-top: 38px;
    }
    .btn--explore {
        width: 100%;
    }
}